--- 
layout: default 
---

<section class="hero">
  <div class="hero-inner">
    <div class="container">
      <!-- <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="dot"> -->
      <h1>Matt Kruszewski
        <small></small>
      </h1>
      <h3>
        <strong itemprop="name"></strong>
        <strong itemprop="jobTitle">{{ site.author.job }}</strong>
      </h3>
      <!-- <h3>{{ site.author.bio }}</h3> -->
      <ul class="contact-info">
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i> (314) 467-0695</li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span id="eaddr">m _at_ ttkrusz _dot_ com</span>
        </li>
        <li>
          <i class="fa fa-globe" aria-hidden="true"></i>
          <a href="https://ma.ttkrusz.com/">ma.ttkrusz.com</a>
        </li>
        <li>
          <i class="fa fa-github" aria-hidden="true"></i>
          <a href="https://github.com/mattkrusz/">github.com/mattkrusz</a>
        </li>
        <li>
          <i class="fa fa-file-text" aria-hidden="true"></i> Contact me for a resume</li>
      </ul>
    </div>
  </div>
</section>


<script type="text/javascript">
  var u = 'm';
  var d = 'ttkrusz.com';
  var element = document.getElementById('eaddr');
  element.innerHTML = u + '@' + d;
</script>