.hero
  display: table
  width: 100%
  height: 100%

.hero-inner
  width: 100% 
  display: table-cell
  padding-top: 15vh
  // vertical-align: middle
  // text-align: center

  .dot
    padding: 5px
    border: 1px solid $light-gray-color

  ul.contact-info
    max-width: 760px
    list-style: none
    // margin: 0 auto

  i.fa
    padding-right: 1em

  h1,
  h2
  h3
    max-width: 760px
    display: block  

  h1
    margin-top: .7em
    font-size: rem(40)
    margin: 0 auto

  h3
    font-size: rem(20)
    // margin: .8em auto 1.2em  

  h2 
    // margin: .8em auto 1.2em  

  h3, em
    font-weight: $font-weight-light

  em
    color: $primary-color

  strong
    // font-weight: $font-weight-bold
    color: $primary-color
  
  .samplework
    margin-top: 3em

  video
    display: block
    margin: 1em auto
    width: 100%
    max-width: 600px
    height: auto

  img
    display: block
    margin: 0 auto
    width: 100%
    max-width: 480px
    height: auto